---
import img1 from "./components/images/img1.jpg";
import img2 from "./components/images/img2.jpg";
import img3 from "./components/images/img3.png";
import img4 from "./components/images/img4.png";
import img5 from "./components/images/img5.jpg";
import Nav from "./components/Nav";
import MainLayout from "../layouts/MainLayout.astro";
import ReactGallery from "./components/ReactGallery";
---

<MainLayout>
  <div>
    {(<Nav client:visible position={false} />)}

    <!-- <span class="flex flex-col justify-center items-center mt-10 mb-10">
      <h1 class="heading">Our Gallery</h1>

      <div class="container">
        <div class="box"><img class="image" src={img1} alt="" /></div>
        <div class="box"><img class="image" src={img3} alt="" /></div>
        <div class="box"><img class="image" src={img5} alt="" /></div>
        <div class="box"><img class="image" src={img2} alt="" /></div>
        <div class="box"><img class="image" src={img4} alt="" /></div>
      </div>
    </span> -->

    <ReactGallery client:load />

  </div>
</MainLayout>


<style>
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
  /* font-family: 'Josefin Sans', sans-serif; */
  body {
    background-color: rgba(74, 74, 74, 1);
    background-repeat: no-repeat;
  }

</style>
