---
import img1 from "./components/images/img1.jpg";
import img2 from "./components/images/img2.jpg";
import img3 from "./components/images/img3.png";
import img4 from "./components/images/img4.png";
import Nav from "./components/Nav";
---
{(<Nav client:visible position={false} />)}

<div class="wrapper">

  <h1>Our Gallery</h1>
  <div class="images">
    <img class="img" src={img1} alt="" />
    <img class="img" src={img2} alt="" />
    <img class="img" src={img3} alt="" />
    <img class="img" src={img4} alt="" />
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }

  .images {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .img {
    height: 200px;
    border-radius: 12px;
    transition: 0.2s all ease-out;
  }

  img:hover {
    box-shadow: 4px 4px 4px rgba(74, 74, 74, 1);
  }
</style>
